.App {
  text-align: center;
}

body {
    overflow-y:hidden;
}

select#studDropdown {
    width: 100%;
    height: 70%;
}

.borderProps {
    border: 1px solid lightgray;
    border-radius: 4px;
}

.gradeClass {
	color:red;
	font-size: 13px;
}

div#leftPane {
    height: 91%;
    width: 25%;
    margin-left: 5px;
    position: absolute;
}

div#studentsList {
    height: 7%;    
}

div#rubric {
    height: 100%;    
}

div#rightPane {
    margin-left: 20%;
    height: 99%;
    width: 80%;
    position: absolute;
    display: flex;
}

.feedbackCollapsible {
    height: 93%;
    background: red;
   	border:1px solid lightgray;
	border-radius:4px;
	margin-bottom:1%;
	margin-left:1%;
	width:98%;
}

.Collapsible {
	border:1px solid lightgray;
	border-radius:4px;
	margin-bottom:1%;
	margin-left:1%;
	width:98%;
}

.feedbackCollapsible__contentOuter {
	background:blue;
	height:70%;
}

span.feedbackCollapsible__trigger,
span.Collapsible__trigger {
    color: black;
    margin-top: 5px;
    font-size: larger;
    font-weight: bold;
}

h3 {
    margin-bottom: 0px;
    margin-top: 5px;
}

#codeDisplay {
    width: 85%;
	margin-left:15%;
}

div#mainDiv {
    margin-top: 5%;
    width: 100%;
    height: 89%;
    position: absolute;
}

div#app {
    display: flex;
}

div#topPane {
    width: 100%;
    height: 10%;
    background: #376c82;
    color: white;
    position: absolute;
}

.guidelinesData {
    width: 73%;
    margin-bottom: 7%;
    height: 23px;
	background:white;
}

button.more {
    background: transparent;
    border: 0px;
    color: blue;
    cursor: pointer;
}

div#block {
    margin-left: -5px;
}

button.more:visited {
    border:0px;
}

div#deductions {
    width: 98%;
    margin-left: 1%;
    margin-bottom: 1%;
}

div#codePane {
  width: 55%;
}

div#feedbackPane{
  width: 42%;
  height: 94%;
  margin-left:9%;
}

textarea#feedback {
    font-size: 14px;
    resize: none;
    resize: none;
    width: 97%;
	height: 79%;
}

input#submit {
    float: right;
}

input[type="submit"] {
    background: #007cff;
    color: white;
    height: 50%;
    width: 6%;
    border-style: hidden;
    border-radius: 10px;
    cursor: pointer;
}

textarea#code:hover,
textarea#feedback:hover {
  border-color:#2e85c3;
}

div#submitDiv {
    position: absolute;
    height: 10%;
    top: 92%;
    float: right;
    width: 99%;
}