.App {
  text-align: center;
}

html {
	height:100%;
}

body {
    overflow-y:hidden;
    height:100%;
}

div#grades {
    float: left;
    margin-right: -16%;
    font-weight: bold;
}

select#studDropdown {
    width: 100%;
    height: 70%;
}

.borderProps {
    border: 1px solid lightgray;
    border-radius: 4px;
}

.gradeClass {
	color:red;
	font-size: 13px;
}

hr {
	border-color: #e8eaea;
}

div#feedbackSubmitDiv {
    width: 44%;
    height: 94%;
    margin-left: 1%;
}

td, th {
    padding: 5px;
}

div#leftPane {
    height: 91%;
    width: 25%;
    margin-left: 5px;
    position: absolute;
}

div#studentsList {
    height: 7%;    
}

div#rubric {
    height: 94%;
    margin-top: 10%;
}

div#rightPane {
    margin-left: 26%;
    height: 99%;
    width: 74%;
    position: absolute;
    display: flex;
}

h4, h3 {
    margin-bottom: 0px;
    margin-top: 5px;
}

div#mainDiv {
    margin-top: 3%;
    width: 100%;
    height: 93%;
    position: absolute;
    display: flex;
}

div#codePane {
    width: 55%;
}

div#app {
    display: flex;
}

div#topPane {
    width: 100%;
    height: 6%;
    background: #376c82;
    color: white;
    position: absolute;
}

.guidelinesData {
    width: 73%;
    margin-bottom: 7%;
    height: 23px;
	background:white;
}

button.more {
    background: transparent;
    border: 0px;
    color: blue;
    cursor: pointer;
}

div#block {
    margin-left: -5px;
}

button.more:visited {
    border:0px;
}

div#deductions {
    width: 98%;
    margin-bottom: 1%;
    height:38%;
}

div#deductionsTableDiv {
	overflow-y:auto;
	height: 79%;
}

div#feedbackPane{
  height: 100%;  
}

div#feedbackDiv {
	width:98%;
	height:60%;	
}

div#submit {
    height: 50%;
    margin-top: 1%;
}

div#guidelines {
    overflow-y: auto;
    height: 91%
}

button#submitButton {
    background: #376c82;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 10%;
    width: 20%;
    cursor: pointer;    
}

textarea#feedback {
    font-size: 14px;
    resize: none;
    resize: none;
    width: 99%;
    border:0px;
	height: 85%;
	margin-top: 0px;
}

input#submit {
    float: right;
}

input[type="submit"] {
    background: #007cff;
    color: white;
    height: 50%;
    width: 6%;
    border-style: hidden;
    border-radius: 10px;
    cursor: pointer;
}

textarea#code:hover,
textarea#feedback:hover {
  border-color:#2e85c3;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid slategrey;
  border-radius:10px;
}