.switch{border:1px solid #ccc;                                  width:9%;
                                  height:60%;
                                  float:left;
                                  margin-top:-3%;
    margin-left: 0.5%;
                              border-radius:13px;cursor:pointer;display:inline-block}.switch-toggle{border:1px solid #b7c7ce;box-shadow:1px 1px 1px #ccc;width:50%;height:80%;left:0;border-radius:12px;background:#b7c7ce;position:relative;transition:left .2s ease-in-out}.switch.on{background:#272822;}.switch.on .switch-toggle{left:23px}.switch.disabled{cursor:not-allowed}